<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- REST Service (Guice + Jersey + Jackson) -->

	<listener>
		<listener-class>com.tectonica.api.RestConfig</listener-class>
	</listener>
	<filter>
		<filter-name>REST</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>REST</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Blobstore Uploads/Downloads -->

	<servlet>
		<servlet-name>Blobstore</servlet-name>
		<servlet-class>com.tectonica.gae.GaeBlobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blobstore</servlet-name>
		<url-pattern>/blob</url-pattern>
	</servlet-mapping>

	<!-- JSF Servlet (PrimeFaces) -->

	<servlet>
		<servlet-name>JSF</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSF</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- JSF Config -->

	<session-config>
		<!-- session timeout of thirty (30) minutes -->
		<session-timeout>30</session-timeout>
	</session-config>
	<context-param>
		<!-- disable use of threading for single-threaded environments such as GAE -->
		<param-name>com.sun.faces.enableThreading</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<!-- In the past, GAE couldn't handle server side state management (JSF default) -->
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<!-- enfore usage of the proper EL implementation, listed in pom.xml -->
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
	</context-param>
	<context-param>
	    <!-- allow dependency-injection into ManagedBeans -->
		<param-name>com.sun.faces.injectionProvider</param-name>
		<param-value>com.tectonica.gae.GuiceJsfInjector</param-value>
	</context-param>
		<context-param>
		<!-- change to "Production" when you are ready to deploy -->
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
	    <!-- see http://www.primefaces.org/themes -->
		<param-name>primefaces.THEME</param-name>
		<param-value>redmond</param-value>
	</context-param>
	
</web-app>
